<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<form id="form" name="form" method="post" th:action="${url}">
    <input type="hidden" class="form-control" id="requestRefNo" name="requestRefNo" th:value="${paramDto.requestRefNo}"></input>
    <input type="hidden" class="form-control" id="result" name="result" th:value="${paramDto.result}"></input>
    <input type="hidden" class="form-control" id="failCode" name="failCode" th:value="${paramDto.failCode}"></input>
    <input type="hidden" class="form-control" id="failReason" name="failReason" th:value="${paramDto.failReason}"></input>
    <input type="hidden" class="form-control" id="data" name="data" th:value="${paramDto.data}"></input>
</form>
<script language="JavaScript">
    function sub() {
        document.form.submit()
    }
    setTimeout(sub,0);
</script>
</body>
</html>